In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<br>

## Object Creation
---

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro).

### Create a Series

Create a **Series** by passing a list of values, letting pandas create a default integer index:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
s

### Create a DataFrame

+ From a **numpy array**, with a datetime **index** and labeled **columns**:

In [ ]:
dates = pd.date_range('20130101', periods = 6)

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))

In [ ]:
df

* From a **dict** of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [ ]:
df2

Having specific dtypes

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

`df2.<TAB>` helps look up the list of all available functions.

<br><br>

## Viewing Data
---
See the [Basics section](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics "Essential Basic Functionality")

See the top & bottom rows of the frame.

In [ ]:
df.head()
df

In [ ]:
df.tail(3)

Display the index, colums, and the underlying numpy data.

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

Describe shows a quick statistic summary of your data.

In [ ]:
df.describe()

Transposing your data.

In [ ]:
df.T

Sorting by an axis.

In [ ]:
df.sort_index(axis='columns',ascending = False) # Axis to be sorted. => axis{0 or ‘index’, 1 or ‘columns’}, default 0

In [ ]:
df.sort_index(axis='index', ascending = False)

<br><br>

## Selection
---

**Note:** While standard Python/Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at; .iat, .loc, .iloc and .ix.

See the indexing documentation [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing "Indexing and Selecting Data") and [MultiIndex / Advanced Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced "MultiIndex / Advanced Indexing").

### Getting

Selecting a single column, which yields a *Series*.

In [ ]:
df['A']

In [ ]:
df.A

Selecting via `[]`, which slices the rows.

In [ ]:
df[0 : 3]

In [ ]:
df['20130102' : '20130104']

### Selection by Label

See more in [Selection by Label](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label "Selection By Label").

For getting a cross section using a Label.

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label.

In [ ]:
df.loc[:, ['A', 'B']]

Showing label slicing, both endpoints are _included_.

In [ ]:
df.loc['20130102' : '20130104', ['A', 'B']]

Reduction in the dimensions of the returned object.

In [ ]:
df.loc['20130102', ['A', 'B']]

For getting a scalar value

In [ ]:
df.loc[dates[0], 'A']

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.at[dates[0], 'A']

### Selection by Position
See more in [Selection by Position](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer "Selection by Position")

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to nump/python

In [ ]:
df.iloc[3 : 5, 0 : 2]

By lists of integer position locations, similar to the numpy/python style.

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

For slicing rows explicitly

In [ ]:
df.iloc[1 : 3, :]

For slicing columns explicitly

In [ ]:
df.iloc[:, 1 : 3]

For getting a value explicitly

In [ ]:
df.iloc[1, 1]

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.iat[1, 1]

### Boolean Indexing

Using a single column's values to select data.

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met.

In [ ]:
df[df > 0]

Using the `isin()` method for filtering:

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [ ]:
df2

### Setting

Setting a new column automatically aligns the data by the indexes.

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20130102', periods = 6))
s1

Setting values by label

In [ ]:
df.at[dates[0], 'A'] = 0

Setting values by position

In [ ]:
df.iat[0, 1] = 0

Setting by assigning with a numpy array

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [ ]:
df

A **`where`** operation with setting.

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = - df2

In [ ]:
df2

<br><br>

## Missing Data
---

pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. See the [Missing Data Section](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data "Working with missing data")

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index = dates[0 : 4], columns = list(df.columns) + ['E'])

In [ ]:
df1

In [ ]:
df1.loc[dates[0]: dates[1], 'E'] = 1

In [ ]:
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how = 'any')

Filling missing data

In [ ]:
df1.fillna(value = 5)

To get the boolean mask where values are `nan`

In [ ]:
pd.isnull(df1)

<br><br>

## Operations
---
See the [Basic section on Binary Ops](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop "Flexible binary operations")

### Stats

Operations in general _exclude_ missing data.

Performing a descriptive statistic.

In [ ]:
df.mean()

In [ ]:
df.mean(0)    # same as above

Same operation on the other axis.

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s, axis = 'index')

### Apply

Applying functions to the data.

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

### Histogramming

See more at [Histogramming and Discretization](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization "Histogramming and Discretization").

In [ ]:
s = pd.Series(np.random.randint(0, 7, size = 10))

In [ ]:
s

### String Methods

Series is equipped with a set of string processing methods in the _str_ attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in _str_ generally uses [regular expressions](https://docs.python.org/2/library/re.html "Regular expression operations") by default (and in some cases always uses them). See more at [Vectorizing String Methods](https://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods "Working with Text Data").

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

<br><br>

## Merge
---
### Concat

**`pd.concat()`** combines dataframes **vertically**.
See the [Merging section](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging "Merge, join, and concatenate").

Concatenating pandas objects together with **`concat()`**:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

Break it into pieces.

In [ ]:
pieces = [df[: 3], df[3 : 7], df[7 : ]]

In [ ]:
pieces

In [ ]:
pd.concat(pieces)

### Join

**`pd.merge()`** merges dataframes **horizontally**. Just like SQL style merges. See the [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join "Database-style DataFrame joining/merging").

Example 1:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on = 'key')

Example 2:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on = 'key')

### Append

Append rows to a dataframe. See the [Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation "Concatenating using append").

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

In [ ]:
df

In [ ]:
s = df.iloc[3]

In [ ]:
s

In [ ]:
df.append(s, ignore_index = True)

<br><br>

## Grouping
---
By "group by" we are referring to a process involving one or more of the following steps
- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

See the [Grouping Section](https://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby "Group By: split-apply-combine")

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [ ]:
df

Grouping and then applying a function **`sum`** to the resulting groups.

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, which we then apply the function.

In [ ]:
df.groupby(['A', 'B']).sum()

<br><br>

## Reshaping
---
See the sections on [Hierarchical Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical "Hierarchical indexing (MultiIndex)") and [Reshaping](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking "Reshaping by stacking and unstacking").

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [ ]:
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])

In [ ]:
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index = index, columns = ['A', 'B'])

In [ ]:
df

In [ ]:
df2 = df[: 4]

In [ ]:
df2

The **`stack`** method "compresses" a level in the the DataFrame's columns.

In [ ]:
stacked = df2.stack()

In [ ]:
stacked

With a "stacked" DataFrame or Series (having a `MultiIndex` as the `index`), the inverse operation of **`stack()`** is **`unstack()`**, which by default unstacks the **last level**:

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(2)

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

### Pivot Tables

See the section on [Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-pivot "Pivot tables").

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [ ]:
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C'])

<br><br>

## Time Series
---

pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the [Time Series section](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries "Time Series / Date functionality").

In [ ]:
rng = pd.date_range('1/1/2012', periods = 100, freq = 'S')

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index = rng)

In [ ]:
ts.resample('5Min').sum()

Time zone representation

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods = 5, freq = 'D')

In [ ]:
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [ ]:
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')

In [ ]:
ts_utc

Convert to another time zone.

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations.

In [ ]:
rng = pd.date_range('1/1/2012', periods = 5, freq = 'M')

In [ ]:
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [ ]:
ts

In [ ]:
ps = ts.to_period()

In [ ]:
ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used.<br>
In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [ ]:
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [ ]:
ts.head(3)

In [ ]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [ ]:
ts.head()

<br><br>

## Categoricals

Since version 0.15, pandas can include categorical data in a `DataFrame`. For full docs, see the [categorical introduction](https://pandas.pydata.org/pandas-docs/stable/categorical.html#categorical "Categorical Data") and the [API documentation](https://pandas.pydata.org/pandas-docs/stable/api.html#api-categorical "Categorical API").

In [ ]:
df = pd.DataFrame({"id":[1, 2, 3, 4, 5, 6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type using **`.astype()`**.

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

In [ ]:
df

In [ ]:
df["raw_grade"]

In [ ]:
df["grade"]

Rename the categories to more meaningful names (assigning to **`Series.cat.categories`** is **inplace**!)

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [ ]:
df["grade"]

Reorder the categories and simultaneously add the missing categories (methods under **`Series .cat`** return a new `Series` per default).

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

In [ ]:
df["grade"]

**Sorting is per order in the categories, not lexical order.**

In [ ]:
df.sort_values(by = "grade")

Grouping by a categorical column shows also empty categories.

In [ ]:
df.groupby("grade").size()

<br><br>

## Plotting
---
See the [Plotting docs](https://pandas.pydata.org/pandas-docs/stable/visualization.html#visualization "Visualization").

In [ ]:
ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))

In [ ]:
ts = ts.cumsum()

In [ ]:
ts.plot()

![image](https://pandas.pydata.org/pandas-docs/stable/_images/series_plot_basic.png)

On DataFrame, **`plot()`** is a convenience to plot all of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index = ts.index, columns = ['A', 'B', 'C', 'D'])

In [ ]:
df = df.cumsum()

In [ ]:
plt.figure();
df.plot();
plt.legend(loc = 'best')

![image](https://pandas.pydata.org/pandas-docs/stable/_images/frame_plot_basic.png)

<br><br>

## Getting Data In/Out
---
### CSV
[Writing to a csv file](https://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv "Writing to CSV format")

In [ ]:
df.to_csv('foo.csv')

[Reading from a csv file](https://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table "Reading from a csv file")

In [ ]:
pd.read_csv('foo.csv').head()

### HDF5
Reading and writing to [HDFStores](https://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5 "HDF5 (PyTables)").

Writing to a HDF5 Store.

In [ ]:
df.to_hdf('foo.h5', 'df')

Reading from a HDF5 Store.

In [ ]:
pd.read_hdf('foo.h5','df').head()

### Excel
Reading and writing to [MS Excel](https://pandas.pydata.org/pandas-docs/stable/io.html#io-excel "Excel files").

Writing to an excel file.

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file.

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA']).head()

<br><br>

See [Comparisons](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-compare "Flexible Comparisons") for an explanation and what to do.

See [Gotchas](https://pandas.pydata.org/pandas-docs/stable/gotchas.html#gotchas "Frequently Asked Questions (FAQ)") as well.